.content {
    background: #f2f2f2;
}

.details {
    margin: auto;
}

.details>img {
    float:left;
    margin:10px;
    width: 80px;
    height: 80px;
}

.details h1 {
    padding-top: 20px;
    font-size: 18px;
}

.details h2 {
    font-size: 14px;
    font-weight: normal;
    color: #888;
}

ul {
    clear:both;
}

.list li {
    clear: both;
    padding: 12px 60px 16px 8px !important;
}

.list > li p:nth-of-type(1) {
    padding-top: 6px;
    font-weight: bold;
}

.list > li p:nth-of-type(2) {
    color: #888;
}

.list > li img {
    width: 48px;
    height: 48px;
    float: left;
    margin-top: 0px;
    margin-right: 8px;
}

.list li:active {
    background-color: #eee;
}

.action-list > li {
    position: relative;
}

.action-icon {
    position: absolute !important;
    top: 12px;
    right: 8px !important;
    width: 32px !important;
    height: 32px;
}

.icon-call {
    background: transparent url(images/ic_action_phone_outgoing.png);
    background-repeat: no-repeat;
}

.icon-sms {
    background: transparent url(images/ic_action_dialog.png);
    background-repeat: no-repeat;
}

.icon-mail {
    background: transparent url(images/ic_action_mail.png);
    background-repeat: no-repeat;
}

.icon-manager {
    background: transparent url(images/ic_action_user.png);
    background-repeat: no-repeat;
}

.icon-reports {
    background: transparent url(images/ic_action_users.png);
    background-repeat: no-repeat;
}

.icon-contact {
    background: transparent url(images/ic_action_add.png);
    background-repeat: no-repeat;
}

.icon-location {
    background: transparent url(images/ic_action_location.png);
    background-repeat: no-repeat;
}

#map {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}